<div class="govuk-form-group govuk-!-margin-top-6" id="hofFileUpload">
  <label class="govuk-label govuk-label--m" for="file-upload">
    {{#t}}fields.file-upload.label{{/t}}
  </label>
  <p id="file-upload-error-maxFileSize" class="govuk-error-message govuk-!-display-none" role="alert">
    <span class="govuk-visually-hidden">{{#t}}journey.error{{/t}}:</span>
    {{#t}}validation.file-upload.maxFileSize{{/t}}
  </p>
  <p id="file-upload-error-emptyFile" class="govuk-error-message govuk-!-display-none" role="alert">
    <span class="govuk-visually-hidden">{{#t}}journey.error{{/t}}:</span>
    {{#t}}validation.file-upload.emptyFile{{/t}}
  </p>
  <p id="file-upload-error-fileType" class="govuk-error-message govuk-!-display-none" role="alert">
    <span class="govuk-visually-hidden">{{#t}}journey.error{{/t}}:</span>
    {{#documentCategory.customFileType}}
      {{#t}}validation.file-upload.{{documentCategory.name}}.fileType{{/t}}
    {{/documentCategory.customFileType}}
    {{^documentCategory.customFileType}}
      {{#t}}validation.file-upload.fileType{{/t}}
    {{/documentCategory.customFileType}}
  </p>
  <input class="govuk-file-upload" id="file-upload" name="file-upload" type="file" accept="{{documentCategory.acceptedFileExtensions}}" document-category="{{documentCategory.name}}">
  <div id="upload-page-loading-spinner" class="spinner-container">
    <div class="spinner-loader"></div>
    <span class="spinner-message">{{#t}}journey.uploading{{/t}}</span>
  </div>
</div>
