{{<partials-page}}
{{$page-content}}

<p class="govuk-body">{{#t}}pages.send-information-for-your-asylum-claim.contents{{/t}}</p>

<ul class="govuk-list">
    <li>
        – <a class="govuk-link" href="#send-evidence">{{#t}}pages.send-information-for-your-asylum-claim.contentsSendEvidence{{/t}}</a>
    </li>
    <li>
        – <a class="govuk-link" href="#send-form">{{#t}}pages.send-information-for-your-asylum-claim.contentsSendForm{{/t}}</a>
    </li>
    <li>
        – <a class="govuk-link" href="#need-advice">{{#t}}pages.send-information-for-your-asylum-claim.contentsNeedAdvice{{/t}}</a>
    </li>
    <li>
        – <a class="govuk-link" href="#other-requests">{{#t}}pages.send-information-for-your-asylum-claim.contentsOtherRequests{{/t}}</a>
    </li>
    <li>
        – <a class="govuk-link" href="#asylum-support">{{#t}}pages.send-information-for-your-asylum-claim.contentsAsylumSupport{{/t}}</a>
    </li>
    <li>
        – <a class="govuk-link" href="#under-18">{{#t}}pages.send-information-for-your-asylum-claim.contentsUnder18{{/t}}</a>
    </li>
</ul>

<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

<h2 id="send-evidence" class="govuk-heading-m">{{#t}}pages.send-information-for-your-asylum-claim.contentsSendEvidence{{/t}}</h2>

{{#markdown}}send-evidence{{/markdown}}

<a href="/before-you-start" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
    {{#t}}buttons.start-now{{/t}}
    <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19"
         viewBox="0 0 33 40"
         aria-hidden="true"
         focusable="false">
        <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
    </svg>
</a>

<h2 id="send-form" class="govuk-heading-m">{{#t}}pages.send-information-for-your-asylum-claim.contentsSendForm{{/t}}</h2>

{{#markdown}}send-form{{/markdown}}

<h2 id="need-advice" class="govuk-heading-m">{{#t}}pages.send-information-for-your-asylum-claim.contentsNeedAdvice{{/t}}</h2>

{{#markdown}}need-advice{{/markdown}}

<h2 id="other-requests" class="govuk-heading-m">{{#t}}pages.send-information-for-your-asylum-claim.contentsOtherRequests{{/t}}</h2>

{{#markdown}}other-requests{{/markdown}}

<h2 id="asylum-support" class="govuk-heading-m">{{#t}}pages.send-information-for-your-asylum-claim.contentsAsylumSupport{{/t}}</h2>

{{#markdown}}asylum-support{{/markdown}}

<h2 id="under-18" class="govuk-heading-m">{{#t}}pages.send-information-for-your-asylum-claim.contentsUnder18{{/t}}</h2>

{{#markdown}}under-18{{/markdown}}

{{/page-content}}
{{/partials-page}}

